/* Main stylesheet that aggregates modular component styles. */
@import url("./components/base.css");
@import url("./components/layout.css");
@import url("./components/sections.css");
@import url("./components/animations.css");
@import url("./components/responsive.css");
@import url("./components/elementor.css");
@import url("./components/social.css");
@import url("./components/footer.css");
@import url("./components/flim-reel-animation.css");
@import url("./components/movies.css");
@import url("./components/about.css");
